{% extends 'layout' %}
{% block content %}

    <div class="o-content">
        <div class="o-content__wrapper">
            <div class="o-project">
                {% if project.image %}
                    <div class="o-project__image">
                        <img src="/assets/images/{{ project.image }}">
                    </div>
                {% endif %}
                <div class="o-project__description
                    {{- project.image ? ' o-project__description--with-image' -}}
                    ">
                    <h1 class="o-project__description__title
                        {{- project.link ? ' o-project__description__title--with-link' -}}
                        ">
                        {{- project.title -}}
                    </h1>
                    {% if project.link %}
                        <a target="_blank" href="{{ url(project.link.url) }}"
                           class="o-project__description__link">
                            {{- project.link.title -}}
                        </a>
                    {% endif %}

                    {{ project.description|raw }}

                    {% if project.role %}
                        <h2>Role</h2>
                        <p>{{ project.role }}</p>
                    {% endif %}

                    {% if project.team %}
                        <h2>Team</h2>
                        <ul class="o-list--unstyled">
                            {% for member in project.team %}
                                <li>{{ member.name }} - <em>{{ member.role }}</em></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if project.technical %}
                        <h2>Technical</h2>
                        <p>{{ project.technical }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
